<div class="contact-d  pt-4">
    <div class="container">
        <!-- Login Start -->
        <div class="login">
            <div class="container-fluid">
                <div class="row">
                    <div *ngIf="!mostrar()" class="col">    
                        <div class="register-form">
                            <div class="row">
                                <h3> Registrarse </h3>
                                <div class="col-md-6">
                                    <label>Nombres</label>
                                    <input class="form-control" type="text" placeholder="Nombres">
                                </div>
                                <div class="col-md-6">
                                    <label>Apellidos</label>
                                    <input class="form-control" type="text" placeholder="Apellidos">
                                </div>
                                <div class="col-md-6">
                                    <label>E-mail</label>
                                    <input class="form-control" type="text" placeholder="E-mail">
                                </div>
                                <div class="col-md-6">
                                    <label>Cel No</label>
                                    <input class="form-control" type="text" placeholder="Cel No">
                                </div>
                                <div class="col-md-6">
                                    <label>Contraseña</label>
                                    <input class="form-control" type="text" placeholder="Contraseña">
                                </div>
                                <div class="col-md-6">
                                    <label>Repite Contraseña</label>
                                    <input class="form-control" type="text" placeholder="Repite Contraseña">
                                </div>
                                <div class="col-md-12">
                                    <button class="btn m-1">Registrarse</button>
                                    <button class="btn color" (click)="b = true" >Iniciar sesión</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="mostrar()" class="col">
                        <form  [formGroup] = "loginform"   class="login-form"   (ngSubmit)="onLogin(loginform.value)">
                            <div class="row">
                                <h3> Iniciar Sesión </h3>
                                <div class="col-md-6">
                                    <label>E-mail</label>
                                    <input class="form-control" type="text" placeholder="E-mail" formControlName="email"> 
                                </div>
                                <div class="col-md-6">
                                    <label>Contraseña</label>
                                    <input class="form-control fadeIn third" type="text"  placeholder="Contraseña" formControlName="password">
                                </div>
                                
                                <div class="col-md-12">
                                    <button class="btn m-1">Iniciar sesión</button>
                                    <button class="btn color" (click)="b = false">Registrarse</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <!-- Login End -->
    </div>
</div>