<div class="contact-d  pt-4">
    <div class="container">

     <!-- Contact Start -->
     <div class="contact">
         <div class="container-fluid">
             <div class="row justify-content-between">
                 <div class="col-lg-4">
                     <div class="contact-info">
                         <h2>Nuestra Tienda</h2>
                         <h3><i class="fa fa-map-marker"></i><a href="https://goo.gl/maps/e3TzHwbFxVY3PY3U6" target="_blank">Prolongacion Insurgentes 143, Mexico</a> </h3>
                          <h3><i class="fa fa-envelope"></i>feguisajusa.sadecv@hotmail.com</h3>
                          <h3><i class="fa fa-phone"></i>967-146-63-48</h3>
                         <div class="social">
                             <a href=""><i class="fab fa-twitter"></i></a>
                             <a href=""><i class="fab fa-facebook-f"></i></a>
                             <a href=""><i class="fab fa-linkedin-in"></i></a>
                             <a href=""><i class="fab fa-instagram"></i></a>
                             <a href=""><i class="fab fa-youtube"></i></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-4">
                     <div class="contact-form">
                         <form>
                             <div class="row">
                                 <div class="col-md-6">
                                     <input type="text" class="form-control" placeholder="Nombre" />
                                 </div>
                                 <div class="col-md-6">
                                     <input type="email" class="form-control" placeholder="Email" />
                                 </div>
                             </div>
                             <div class="form-group">
                                 <input type="text" class="form-control" placeholder="Sujeto" />
                             </div>
                             <div class="form-group">
                                 <textarea class="form-control" rows="5" placeholder="Mensaje"></textarea>
                             </div>
                             <div><button class="btn" type="submit">Enviar Mensaje</button></div>
                         </form>
                     </div>
                 </div>
                 <div class="col-lg-12">
                     <div class="contact-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3821.2203392880324!2d-92.63813798513291!3d16.715854288484287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ed455c585f690d%3A0xb8814e6ff6337bb3!2sProlongacion%20Insurgentes%20143%2C%20Mar%C3%ADa%20Auxiliadora%2C%2029290%20San%20Crist%C3%B3bal%20de%20las%20Casas%2C%20Chis.%2C%20Mexico!5e0!3m2!1sen!2sco!4v1628441621535!5m2!1sen!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- Contact End -->
     
</div>
</div>