<div class="container pt-4">

      <!-- Product List Start -->
      <div class="product-view">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-7">
                      <div class="row" >
                          <div class="col-md-4 mb-2 producto" *ngFor="let product of products.result | 
                          paginate:  {
                              itemsPerPage: 6, 
                              currentPage: page
                            
                            };
                            let i = index ">
                            <div class="product-item">
                              <div class="product-title">
                                  <a href="#">{{products.result[i].name}}</a>
                                  
                                </div>
                                <div class="product-image">
                                  <a href="product-detail.html">
                                    <img
                                      src="{{products.result[i].img}}"
                                      alt="Product Image">
                                  </a>
                                  
                                </div>
                                <div class="product-price">
                                  <h3><span>${{products.result[i].price}}</span></h3>
                                  <a class="btn" routerLink="/producto/{{products.result[i].id+products.result[i].name}}"><i class="fa fa-shopping-cart"></i>Buy Now</a>

                                </div>
                              </div>
                          
                          </div>
                          
                      </div>
                      
                      <!-- Pagination Start -->
                      <pagination-controls (pageChange)="page = $event"></pagination-controls>

                      <!-- Pagination Start -->
                  </div>           
                  
                    <app-categories-card></app-categories-card>

          </div>
      </div>
      <!-- Product List End -->       
</div>