<!-- Side Bar Start -->
<div class="sidebar">
    <div class="sidebar-widget category">
        <h2 class="title">Categorias</h2>
        <hr class="bg-info">
        <nav class="navbar bg-light">
            <ul class="navbar-nav" *ngFor="let category of categ.categories; let i = index;">
                <li class="nav-item">

                    <a class="nav-link" routerLink="/categorias/{{categ.categories[i].id}}">
                    {{categ.categories[i].id.charAt(0).toUpperCase()+categ.categories[i].id.slice(1)}}

                    </a>
                </li>
                
            </ul>
        </nav>
    </div>
</div>