        
        <!-- Footer Start -->
        <div class="footer mt-4">
            
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-4">
                        <div class="footer-widget">
                            <h2>Nosotros</h2>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="https://efirma.com/directorio/organizaciones/FEG151230P91" target="_blank">RFC: FEG151230P91</a></li>
                                <li><a href="#">Terms & Condition</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="footer-widget">
                            <a routerLink="contacto"><h2>Contacto</h2></a> 
                            <div class="contact-info">
                                <p ><i class="fa fa-map-marker"></i><a href="https://goo.gl/maps/e3TzHwbFxVY3PY3U6" target="_blank">Prolongacion Insurgentes 143, Mexico</a> </p>
                                <p><i class="fa fa-envelope"></i>feguisajusa.sadecv@hotmail.com</p>
                                <p><i class="fa fa-phone"></i>967-146-63-48</p>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-lg-4">
                        <div class="footer-widget">
                            <h2>Síguenos</h2>
                            <div class="contact-info">
                                <div class="social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <!-- Footer End -->
        
        <!-- Footer Bottom Start -->
        <div class="footer-bottom">
            <div class="container">
                    <div class="copyright">
                        <p>Copyright &copy; Fegui Sajusa S.A</p>
                    </div>
            </div>
        </div>
        <!-- Footer Bottom End -->       
        