<div class="menu">

<!-- Bottom Bar Start -->
<div class="bottom-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-3">
        <div class="logo">
          <a routerLink="inicio">
            <img src="../../../assets/img/menu/logo.png" alt="Fegui Sajusa Logo">
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="search">
          <input type="text" placeholder="Buscar...">
          <button><i class="fa fa-search"></i></button>
        </div>
      </div>
      <div class="col-md-1">
        <div class="user">
          <a routerLink="carrito" class="btn cart">
            <i class="fa fa-shopping-cart"></i>
            <span>(0)</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Bottom Bar End -->

<!-- Nav Bar Start -->
<div class="nav">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a href="#" class="navbar-brand"><mat-icon>home</mat-icon></a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="container">
        <div class="collapse navbar-collapse justify-content-end " id="navbarCollapse">
          <div class="navbar-nav">


            <ng-container *ngIf="login()">
              <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" ><mat-icon>person</mat-icon></a>
              <div class="dropdown-menu">
                <a routerLink="cuenta" class="dropdown-item">Mi Cuenta</a>
                <a routerLink="cuenta/login" class="dropdown-item">Salir</a>
              </div>
              </div>
            </ng-container>



            <a routerLink="inicio" class="nav-item nav-link">inicio</a>
  
            <div class="nav-item dropdown"    (click)="categoriesList()">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown">categorías</a>
              <div class="dropdown-menu">
                <a routerLink="/categorias/{{categ.categories[i].id}}" class="dropdown-item" *ngFor="let _ of categ.categories; let i = index;">

                {{categ.categories[i].id.charAt(0).toUpperCase()+categ.categories[i].id.slice(1)}}
              </a>
              </div>
            </div>
  
            <a routerLink="blog" class="nav-item nav-link" >Blog</a>

            <a routerLink="/contacto" class="nav-item nav-link">Contáctanos</a>                




            <ng-container *ngIf="!login()">
                <a routerLink="cuenta/login" class="nav-item nav-link">Login & Register</a>
            </ng-container>
            
  
          </div>
          <!-- <div class="navbar-nav">
            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Cuenta</a>
              <div class="dropdown-menu">
                <a href="#" class="dropdown-item">Login</a>
                <a href="#" class="dropdown-item">Register</a>
              </div>
            </div> 
          </div>-->
        </div>
      </div>
    </nav>
  </div>
</div>
<!-- Nav Bar End -->

</div>
